In [22]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [2]:
df=pd.read_csv("D:/onkar_cdac/C-DAC/PML/PML/Files_by_sir/5. PML/1. Day wise Study Material/Cases/Medical Cost Personal/insurance.csv")

In [3]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
df_dum=pd.get_dummies(df,drop_first=True)

In [7]:
df_dum

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,1,0,1,0,0
1334,18,31.920,0,2205.98080,0,0,0,0,0
1335,18,36.850,0,1629.83350,0,0,0,1,0
1336,21,25.800,0,2007.94500,0,0,0,0,1
1337,61,29.070,0,29141.36030,0,1,1,0,0

In [8]:
X=df_dum.drop('charges',axis=1)
y=df_dum['charges']

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2023,
                                               test_size=0.30)

In [13]:
scaler=StandardScaler()
knn=KNeighborsRegressor(n_neighbors=3)
pipe=Pipeline([('scaler',scaler),('knn_model',knn)])
pipe.fit(X_train,y_train)

Pipeline(steps=[('scaler', StandardScaler()),
                ('knn_model', KNeighborsRegressor(n_neighbors=3))])

In [15]:
y_pred = pipe.predict(X_test)
y_pred

array([ 9191.20633333, 16298.53953333, 36138.4969    ,  6927.15486667,
       14757.31219333, 10903.66916   , 11642.05982333, 10429.62353   ,
        4366.611     , 40255.8444    ,  8718.28436667, 28448.94566667,
       48081.62456667, 41133.44862333,  6398.72775   , 40139.82516667,
        4514.7282    , 17193.89092667,  3238.63766667,  1927.7877    ,
       16420.09268333, 11418.4704    ,  7299.76566667,  3124.17291667,
        1883.12586667,  8125.0906    , 18467.7923    , 13792.52424667,
       28430.15473333, 12405.86433333,  6486.02736667,  2104.25833333,
       29413.41726   ,  3711.95213333, 11996.77466667, 21854.96573333,
       10235.025     , 31002.09749667, 10499.18726667,  7448.47666667,
        6129.46846667,  6799.95566667,  1928.06828333,  6249.4884    ,
       18818.64586667, 12043.75963333,  9530.12771667,  7928.81833333,
        5162.89238333, 12907.47431667,  7421.38896667, 24623.73916667,
       28430.15473333,  9539.722     , 10257.79036667, 15348.7666    ,
        4752.41591667, 10509.1       ,  8283.71188   ,  6438.57233333,
        4924.808     ,  8770.10520667,  8519.79526667, 11671.96193333,
       11745.56098333, 49224.23673667, 10377.90898333, 23403.60671667,
        6860.83466667, 12393.89956667, 14642.00162   ,  6672.03165   ,
        7895.43516667,  3994.80593967, 18142.66193333, 21167.38766667,
       16862.75181667,  8676.86425333, 12487.59656667,  2466.08068333,
       10768.18379   , 14175.51360333, 18148.4202    , 26144.19108333,
        7352.74956667,  6712.72838333, 10267.52288333, 15725.79054667,
       24759.29766667,  4277.3265    , 13867.33294   ,  4727.68265   ,
        9941.72218333,  7345.93428333,  4162.30433333,  8212.22168333,
        1495.507     ,  1771.81766667, 18746.98610333,  6736.32503333,
        3600.85436667,  7541.259     , 10478.61166667, 12231.52271667,
       14175.51360333, 21797.5366    , 10729.69      ,  4536.2328    ,
       11990.96601   , 35967.815     , 15071.43515333, 45560.66403333,
        6966.31933333, 11902.68833333, 27212.55208333, 34693.70333333,
       11916.66233333, 15106.13903667,  8272.32691667,  2412.19668333,
        9195.06242667,  8477.22473333,  7262.82605   , 35387.39333333,
       10340.71516667, 10571.78956667, 23063.60586   , 29413.41726   ,
        5138.49955   , 14627.37135333, 17401.06572333,  2858.28041667,
        8880.90768333, 22501.40495   , 35255.78933   ,  6721.88893333,
       20252.55134333,  7850.3271    ,  1496.25866667,  9234.94848333,
        7248.67136667, 28317.28333333, 10017.49403333, 38380.33901667,
        1353.6698    ,  2623.99315   ,  4523.96068333,  6799.95566667,
        3425.34333333, 20945.67103333, 12797.69446667,  4448.0913    ,
       12109.101     ,  3033.5       ,  2623.99315   , 17586.07057333,
       14241.1356    ,  9477.34935   ,  1935.91368333, 11559.32596667,
       24823.44483333, 15587.68607   ,  2157.543     ,  1221.49346667,
       13581.29475   , 14914.41265   ,  3994.80593967, 45930.45233333,
        1969.11466667, 11643.9979    ,  4089.718223  ,  3398.485     ,
        3648.68151667, 17403.10220333, 30644.92596667, 30490.958     ,
        1771.81766667,  4840.42246   ,  4681.1173    ,  5573.97246667,
        8192.85753333, 47873.67613   ,  6055.48388333,  1947.34163333,
       18271.73845667, 33645.88103333, 29179.02494667, 15587.68607   ,
       10377.90898333, 32434.5316    ,  4878.84933333, 14384.496     ,
        5941.52      , 22006.39073333, 13750.65704667,  6413.051     ,
       21712.12991667, 11212.73953333, 14122.82496333, 13162.34857667,
       16520.48978333, 10421.856     ,  1725.73666667,  8094.33128333,
       11318.29166667, 21305.4955    ,  7964.75333333, 11245.10113333,
       38301.056     , 10344.10533333, 39717.00376667, 27212.55208333,
        3366.20806667,  2939.03121667, 30537.2066    ,  4994.75426667,
       39241.35947   , 11181.489     ,  5149.70211   ,  9002.74766667,
        7647.38685   ,  8903.36111667,  6721.88893333,  3767.13466667,
       12932.719     , 33820.8524    ,  6653.20277   ,  3425.34333333,
       31002.09749667, 15953.70663   ,  5291.138     ,  1632.17796667,
        7928.81833333,  9255.59633333, 10662.673     ,  9436.55236667,
       11586.98318333,  5353.01573333,  9621.36066667,  9163.47208   ,
        4869.3845    , 12016.88873333,  1763.94656667,  7783.07521   ,
        4470.44023333,  5965.55653333,  1629.43926667,  5965.55653333,
       11831.16269   ,  3152.55811667,  7761.93066667,  1934.06498333,
       35048.766     ,  2371.51483333,  2267.08066667,  4562.19823333,
       36846.9898    ,  5191.147     , 14817.71986   , 10255.64333333,
        5272.9448    ,  4229.97165   , 36068.36423333,  2157.543     ,
        5762.99448333,  9953.09404333,  5679.21013333,  1552.13803333,
       18271.73845667, 12387.98011667,  7262.82605   ,  1763.94656667,
       51024.86090667,  6429.99571667, 12393.89956667,  2620.73591667,
        8921.66476667, 11329.97664667, 11050.09556   , 13221.35145   ,
        3034.73246667,  8536.02111   , 28317.28333333, 32572.31785   ,
        9723.365     ,  4332.86633333, 40418.90513333, 32767.71113   ,
        8754.4295    , 12569.73143333, 37829.057     , 15198.58834667,
        1787.67433333, 19992.866     , 14122.82496333,  2882.36561667,
        8300.00933333,  2157.543     , 40845.96595667,  7949.704     ,
       29413.41726   , 12907.47431667, 12487.59656667, 45864.72736667,
        3272.15186667, 31559.46436667, 13520.439     , 12791.22633333,
       49494.64117333,  6728.838     ,  4471.91986667,  3520.026     ,
       18142.66193333, 33193.59416667, 17629.03975667,  4022.67593333,
        6269.7618    ,  3425.34333333,  7241.04466667,  7262.82605   ,
       38625.40916667, 41614.52253333,  2469.45823333, 28430.15473333,
       10346.15905   ,  6949.24373333, 14817.71986   , 19573.91889667,
       46268.26541333, 10085.42357667,  4239.63265   , 12487.59656667,
        6249.4884    ,  7541.259     ,  1632.25633333,  2555.1671    ,
       12474.80966667,  7928.81833333,  4191.91633333,  5762.99448333,
       10792.83446667,  9137.19377667,  8034.28782667, 23381.73496667,
        5470.08518333,  2445.64853333, 17193.89092667, 38593.38165   ,
        4438.7258    , 28317.28333333,  7551.88813333, 39735.61288333,
       18171.68560333, 12109.101     ,  4248.20261667,  8536.02111   ,
        6098.08806667, 37592.18245   , 40139.82516667, 27949.34516667,
        2466.08068333, 13166.70767333,  4869.01716667, 28317.28333333,
       11459.17966667, 15106.13903667,  1506.3825    ,  6220.792     ,
        1771.81766667,  1221.49346667,  9754.158     , 40255.8444    ,
       10864.90243333,  6403.85      , 11228.71141667,  7043.28666667,
        5487.21633333,  1725.73666667,  2509.76433333, 26239.27733333,
        5985.1261    ,  9909.26418   , 10366.32095667,  5100.559     ,
        9436.55236667,  9543.64195   ,  1971.45983333,  2581.34988333,
        9206.90571   , 23192.63705   ,  7600.16633333, 10005.73365   ,
       28430.15473333,  1947.34163333, 17976.58075333,  5389.98519333,
       13339.90116667, 11459.17966667, 39298.24203333,  2384.37243333,
       12371.25266667,  8710.75856667])

In [18]:
print(mean_absolute_error(y_test,y_pred))
print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

3237.3062990373132
29479390.3940277
0.8035066281467148

In [19]:
## try to find the k = 1 to 30

In [20]:
r2=[]

In [25]:
for i in np.arange(1,31):
    knn=KNeighborsRegressor(n_neighbors=i)
    pipe=Pipeline([('scaler',scaler),('knn_model',knn)])
    pipe.fit(X_train,y_train)
    
    # log loss
    y_pred = pipe.predict(X_test)
    
    print('k=',i,'r2=',r2_score(y_test,y_pred))
    r2.append(r2_score(y_test,y_pred))
    
print(np.max(r2))
print(np.argmax(r2))

print("Best K =", np.argmax(r2)+1, "with r2 =",np.max(r2))

best_k = np.argmax(r2)+1

k= 1 r2= 0.7333291517636594
k= 2 r2= 0.7828517648148152
k= 3 r2= 0.8035066281467148
k= 4 r2= 0.7986479675329322
k= 5 r2= 0.8092415462151319
k= 6 r2= 0.8155591687217936
k= 7 r2= 0.8093275464310599
k= 8 r2= 0.8048038173063967
k= 9 r2= 0.8079939793523716
k= 10 r2= 0.809202529272262
k= 11 r2= 0.8063314221755667
k= 12 r2= 0.8010235876859275
k= 13 r2= 0.7984716113680888
k= 14 r2= 0.7960461013402049
k= 15 r2= 0.7942374456991013
k= 16 r2= 0.7937632743974664
k= 17 r2= 0.7910777948569143
k= 18 r2= 0.7857446738140224
k= 19 r2= 0.7824657443854839
k= 20 r2= 0.778534807460271
k= 21 r2= 0.7760730188245366
k= 22 r2= 0.7750550884022147
k= 23 r2= 0.7718514061844556
k= 24 r2= 0.7687274848173069
k= 25 r2= 0.7657369117770043
k= 26 r2= 0.7617680261632201
k= 27 r2= 0.7573754411312329
k= 28 r2= 0.7514056380101828
k= 29 r2= 0.7503080889362164
k= 30 r2= 0.7480744987090868
0.8155591687217936
5
Best K = 6 with r2 = 0.8155591687217936

In [26]:
# Predicting on test set with no response variable

In [27]:
tst_insure = pd.read_csv("D:/onkar_cdac/C-DAC/PML/PML/Files_by_sir/5. PML/1. Day wise Study Material/Cases/Medical Cost Personal/tst_insure.csv")

In [28]:
tst_insure

    age     sex     bmi  children smoker     region
0    19  female  27.900         0    yes  southwest
1    18    male  33.770         1     no  southeast
2    28    male  33.000         3     no  southeast
3    33    male  22.705         0     no  northwest
4    37  female  23.370         2     no  northwest
..  ...     ...     ...       ...    ...        ...
83   60    male  24.320         1     no  northwest
84   51  female  36.670         2     no  northwest
85   58  female  33.440         0     no  northwest
86   36    male  34.430         2     no  southeast
87   20  female  31.460         0     no  southeast

[88 rows x 6 columns]

In [30]:
dum_tst=pd.get_dummies(tst_insure,drop_first=True)

In [32]:
knn=KNeighborsRegressor(n_neighbors=best_k)
pipe=Pipeline([('scaler',scaler),('knn_model',knn)])
pipe.fit(X_train,y_train)
y_pred=pipe.predict(dum_tst)
print(y_pred)

[25760.31916667  5959.03034167  4706.08395    10787.71644167
  6410.763625    7955.67        2001.42615833  2659.86136667
 39614.30073333  9847.05185     3911.48975317 25760.31916667
 10236.71383333 20518.95050833  7050.39616667 12254.67198333
 12991.56545    15980.11967167  1825.59653333  3356.80311983
  2108.54893333  5147.44938833  1825.59653333 14529.93425667
  3395.24088833  9882.08906333  6438.53262667 19046.87841667
  9703.05399833 26515.08667333  5459.76896667 39063.33479333
  9435.98685    13078.97209833  1942.0415      6010.85114167
 13257.88578167  9396.402935   20529.84588333  9105.89730667
 13740.75529333 28681.91988167 22684.56533833 31070.09721667
 12178.34863    27917.193825   31724.21545    10782.13183333
  7832.87368833  7558.39933     9534.914125    7064.80928833
  6022.957      11774.17419167 15961.08171833  2437.90621667
  8742.51661667 12508.44090833 36618.076685   10920.65106167
 12505.03165    13452.74241167 32368.78636667 12195.27066667
  6805.06569167  4202.55918333  3560.72569167 13275.064065
  9402.47728333  9141.99225    12127.43074167  5621.99966667
 43678.730285    9915.23144167  9597.33117333  5124.47374167
  5927.86924167 10213.09966333  8135.4701      6841.02980833
  2413.86216667 11660.3        13477.032725   14757.363395
 15489.75717333 12842.01868333  8069.113195    3493.00659167]

#################### Concrete Strength #####################

In [33]:
df=pd.read_csv('D:/onkar_cdac/C-DAC/PML/PML/Files_by_sir/5. PML/1. Day wise Study Material/Cases/Concrete Strength/Concrete_Data.csv')

In [34]:
df

,Cement,Blast,Fly,Water,Superplasticizer,Coarse,Fine,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [37]:
X=df.drop('Strength',axis=1)
y=df['Strength']

In [38]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,
                                              random_state=2023)

In [39]:
scaler=StandardScaler()

In [40]:
# try k=1 to 30:

In [41]:
r2=[]

In [42]:
for i in np.arange(1,31):
    knn=KNeighborsRegressor(n_neighbors=i)
    pipe=Pipeline([('scaler',scaler),('knn_model',knn)])
    pipe.fit(X_train,y_train)
    
    # log loss
    y_pred=pipe.predict(X_test)
    
    print('k=',i,'r2=',r2_score(y_test,y_pred))
    r2.append(r2_score(y_test,y_pred))
    
np.max(r2)
np.argmax(r2)

print('Best K = ',np.argmax(r2)+1,'with r2=',np.max(r2))
best_k=np.argmax(r2)+1

k= 1 r2= 0.7026392459238024
k= 2 r2= 0.7089300758906106
k= 3 r2= 0.7401628121253183
k= 4 r2= 0.7171340292774703
k= 5 r2= 0.6944606313312125
k= 6 r2= 0.6787680665489695
k= 7 r2= 0.6852935913237291
k= 8 r2= 0.6879845924332937
k= 9 r2= 0.6827332267554556
k= 10 r2= 0.6712930600944098
k= 11 r2= 0.6641656980077648
k= 12 r2= 0.6561086113938932
k= 13 r2= 0.6495564445130879
k= 14 r2= 0.6397594708952399
k= 15 r2= 0.6390518588971075
k= 16 r2= 0.6376708574664185
k= 17 r2= 0.6305772548670111
k= 18 r2= 0.6273832128069655
k= 19 r2= 0.6218041893577174
k= 20 r2= 0.6150605798050093
k= 21 r2= 0.6088932050759673
k= 22 r2= 0.6041995487330528
k= 23 r2= 0.5999602042986951
k= 24 r2= 0.597920606550995
k= 25 r2= 0.5979211764597971
k= 26 r2= 0.5914942354816619
k= 27 r2= 0.5860137738454199
k= 28 r2= 0.579349673692148
k= 29 r2= 0.5760329529667969
k= 30 r2= 0.5711649905288196
Best K =  3 with r2= 0.7401628121253183

In [44]:
# Predicting on test set with no response variable

tst_conc = pd.read_csv("D:/onkar_cdac/C-DAC/PML/PML/Files_by_sir/5. PML/1. Day wise Study Material/Cases/Concrete Strength/testConcrete.csv")

In [45]:
tst_conc

    Cement  Blast  Fly  Water  Superplasticizer  Coarse  Fine  Age
0      495    120    0    155                 5     866   884   75
1      262    129    0    271                 2     808   787  174
2      201     48    1    215                 5     807   839  113
3      329    141    0    286                 1     881   823  229
4      354     14    0    129                 2     839   847  210
5      150     23   23    114                 4     883   638   36
6      480     64    0    292                 3     896   776  180
7      393     49   82    132                 1     887   830  271
8      284     63    1    138                 1     804   725   44
9      206     38    0    103                 2     818   719  191
10     247     64   26    175                 2     822   898  183
11     223    102    0    110                 2     808   854  270
12     457     89    0    289                 3     829   865  190
13     125     93    0    200                 5     893   671  113

In [46]:
knn=KNeighborsRegressor(n_neighbors=best_k)
pipe=Pipeline([('scl_std', scaler), ('knn_model', knn)])
pipe.fit(X_train, y_train)

y_pred = pipe.predict(tst_conc)

In [49]:
y_pred

array([54.5       , 48.86      , 31.04      , 51.34333333, 68.93333333,
       38.76666667, 51.99333333, 39.45      , 55.92333333, 65.60666667,
       27.49666667, 67.06666667, 52.71      , 44.81333333])