In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
hr = pd.read_csv("D:/onkar_cdac/C-DAC/PML/PML/Files_by_sir/5. PML/1. Day wise Study Material/Cases/human-resources-analytics/HR_comma_sep.csv")

In [3]:
hr

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [4]:
dum_hr = pd.get_dummies(hr, drop_first=True)

In [5]:
dum_hr

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department_RandD,Department_accounting,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,0,0,0,0,1,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,0,0,0,0,1,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,0,0,0,0,1,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,0,0,0,0,0,0,1,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,0,0,0,0,0,0,1,0,1,0

In [6]:
X = dum_hr.drop('left',axis=1)
y = dum_hr['left']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=2022,
                                                    test_size=0.3,
                                                    stratify=y)

In [8]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [9]:
scaler = StandardScaler()
scl_trn = scaler.fit_transform(X_train)
scl_tst = scaler.transform(X_test)

In [10]:
knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(scl_trn, y_train)

KNeighborsClassifier(n_neighbors=13)

In [11]:
# ROC AUC
y_pred_prob = knn.predict_proba(scl_tst)[:,1]
print(roc_auc_score(y_test, y_pred_prob))

0.9684614586575371

In [12]:
#### Min Max

scaler = MinMaxScaler()
scl_trn = scaler.fit_transform(X_train)
scl_tst = scaler.transform(X_test)

knn = KNeighborsClassifier(n_neighbors=13)
knn.fit(scl_trn, y_train)

KNeighborsClassifier(n_neighbors=13)

In [13]:
# ROC AUC
y_pred_prob = knn.predict_proba(scl_tst)[:,1]

print(roc_auc_score(y_test, y_pred_prob))

0.9623632285615714

In [14]:
######## Pipeline ##############
from sklearn.pipeline import Pipeline
scaler = MinMaxScaler()
knn = KNeighborsClassifier(n_neighbors=3)
pipe = Pipeline([('scl_mm', scaler), ('knn_model', knn)])
pipe.fit(X_train, y_train)

Pipeline(steps=[('scl_mm', MinMaxScaler()),
                ('knn_model', KNeighborsClassifier(n_neighbors=3))])

In [15]:
# ROC AUC
y_pred_prob = pipe.predict_proba(X_test)[:,1]

print(roc_auc_score(y_test, y_pred_prob))

0.965439096801353